#title-in{
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 35px;
    color: rgb(223, 196, 45);
}

#text-in{
    text-align: center;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#subtitle-in{
    text-align: center;
}

#content-in{
    color: white;
}

#cuerpo-in{
    background-image: url("https://media.istockphoto.com/id/1297247938/es/foto/blanco-oro-fondo-degradado-textura-suave-dorado-con-tecnolog%C3%ADa-de-luz-diagonal-gris-y-blanco.webp?b=1&s=170667a&w=0&k=20&c=A5X_lD3lglEuh_dMpAjJBEX2ML5V2_UEE1gyRqyMWSo=");
    background-size: cover; 
}

.carousel {
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}